
.padre-contenedor{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 400px;
}
.container {
  position: relative;
  width: 100%; /* Tamaño del círculo */
  height: 100%;
  transform-style: preserve-3d;
  animation: spin 25s linear infinite; /* Animación de rotación */
}

.container span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 0 0 0; /* Distancia desde el centro */
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(460px); /* Posiciona las imágenes correctamente */
}

.container span img {
  width: 320px; /* Tamaño específico */
  height: 450px;
  object-fit: cover; /* Ajusta la imagen sin deformarla */
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5); /* Sombra */
  transform: translate(-50%, -50%); /* Centra las imágenes */
}

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

/* Media Queries */
@media (max-width: 767px) {
  .container span img {
    width: 280px;
    height: 400px;
  }

  p {
    font-size: 50px;
  }

  h1 {
    font-size: 45px;
  }
}

@media (max-width: 620px) {
  .container span {
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(360px); /* Posiciona las imágenes correctamente */
  }
  .container span img {
    width: 240px;
    height: 350px;
  }

  p {
    font-size: 40px;
  }

  h1 {
    font-size: 35px;
  }
}

@media (max-width: 480px) {
  .container span {
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(280px); /* Posiciona las imágenes correctamente */
  }
  .container span img {
    width: 200px;
    height: 300px;
  }

  p {
    font-size: 30px;
  }

  h1 {
    font-size: 25px;
  }
}

@media (max-width: 350px) {
  .container span {
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(250px); /* Posiciona las imágenes correctamente */
  }
  .container span img {
    width: 160px;
    height: 240px;
  }

  p {
    font-size: 20px;
  }

  h1 {
    font-size: 20px;
  }
}