/* From Uiverse.io by mrhyddenn */ 
.shadow__btn {
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    height: 39px;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
  }
  
  .shadow__btn {
    background: rgb(0,140,255);
    box-shadow: 0 0 25px rgb(0,140,255);
    width: 120px;
    position: fixed;
    margin-bottom: 7rem;
  }
  
  .shadow__btn:hover {
    box-shadow: 0 0 5px rgb(0,140,255),
                0 0 25px rgb(0,140,255),
                0 0 50px rgb(0,140,255),
                0 0 100px rgb(0,140,255);
  }

  /* **************************************btn y titulo */

  .btn-titulo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
  }
h1{
  font-size: 60px;
  text-shadow: 2px 2px 2px gray;
  animation: shadowTitulo 5s ease-in-out infinite;
  transform-origin: bottom;
}

@keyframes shadowTitulo {
  0%,50%,100%{transform: translateY(0px);}
  30%{transform: translateY(-5px);}
  60%{transform: translateY(10px);}
  
}

/* *****************************************redes */
.contenedor-btn-redes{
  position: absolute;
  z-index: 5;
  margin-top:15rem ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  gap: 1rem;
  width: 500px;
  /* border: 1px solid #000; */
  background-image: url(/public/img/nubes.png);
 background-size: contain;
 background-repeat: no-repeat;
 background-position: center;
 animation: shadowTitulo 5s ease-in-out infinite;
  transform-origin: bottom;
}
.contenedor-redes{
z-index: 2;
position: relative;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
  align-items: center;
}
.bx{
  font-size: 60px;
}
.bxl-whatsapp{
  color: rgb(9, 163, 9);
}
.bxl-github{
 
}
.bxl-twitter{
color: rgb(118, 198, 224);
}

