/* From Uiverse.io by mrhyddenn */ 
.shadow__btn {
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    height: 39px;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
  }
  
  .shadow__btn {
    background: rgb(0,140,255);
    box-shadow: 0 0 25px rgb(0,140,255);
    width: 120px;
    position: fixed;
    margin-bottom: 7rem;
  }
  
  .shadow__btn:hover {
    box-shadow: 0 0 5px rgb(0,140,255),
                0 0 25px rgb(0,140,255),
                0 0 50px rgb(0,140,255),
                0 0 100px rgb(0,140,255);
  }

  /* **************************************btn y titulo */
  .app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  p{
font-size: 70px;
font-weight: 700;
color: blue;
text-shadow:
 0 0 12px black,
 0 0 12px rgb(42, 252, 0),
 0 0 12px rgb(247, 211, 9);
  }
  .btn-titulo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
h1{
  font-size: 60px;
  text-shadow: 2px 2px 2px gray;
  animation: shadowTitulo 5s ease-in-out infinite;
  transform-origin: bottom;
}

@keyframes shadowTitulo {
  0%,50%,100%{transform: translateY(0px);}
  30%{transform: translateY(-5px);}
  60%{transform: translateY(10px);}
  
}

